.root {
	-fx-font-family: monospace;
	-fx-background-color: #333333;
	-fx-hgap: 1px;
    -fx-vgap: 1px;
}

.text-field {
	-fx-background-color: transparent;
	-fx-text-fill: lightgray;
	-fx-font-size: 25pt;
    -fx-font-weight: bold;
    -fx-alignment: CENTER-RIGHT;
    -fx-padding: 10 10 10 10;
    -fx-background-insets: 0 0 0 0;
}

.button{
	-fx-font-size: 16pt;
	-fx-background-radius: 0;
	-fx-background-insets: 0 0 0 0;
}
.button:focused{
	-fx-border-color:white;
}
.button:armed {
	-fx-background-color: yellow;
}

#ceroButton,#unoButton,#dosButton,#tresButton,#cuatroButton,#cincoButton,#seisButton,#sieteButton,#ochoButton,#nueveButton,#puntoButton{
	-fx-text-fill: white;
	-fx-background-color:darkgray;
}

#ceroButton:hover,#unoButton:hover,#dosButton:hover,#tresButton:hover,#cuatroButton:hover,#cincoButton:hover,#seisButton:hover,#sieteButton:hover,#ochoButton:hover,#nueveButton:hover,#puntoButton:hover{
	-fx-text-fill: darkgray;
	-fx-background-color:white;
}

#ceroButton:pressed,#unoButton:pressed,#dosButton:pressed,#tresButton:pressed,#cuatroButton:pressed,#cincoButton:pressed,#seisButton:pressed,#sieteButton:pressed,#ochoButton:pressed,#nueveButton:pressed,#puntoButton:pressed{
	-fx-text-fill: lightgray;
	-fx-background-color:black;
}

#borrarButton,#borrarTodoButton {
	-fx-text-fill:black;
	-fx-background-color:lightgray;
	
}
#borrarButton:hover,#borrarTodoButton:hover {
	-fx-background-color: white;
}
#borrarButton:pressed,#borrarTodoButton:pressed {
	-fx-text-fill: lightgray;
	-fx-background-color: black;
}

#masButton,#menosButton,#multButton,#divButton {
	-fx-text-fill:white;
	-fx-background-color: orange;
}

#masButton:hover,#menosButton:hover,#multButton:hover,#divButton:hover {
	-fx-background-color:darkorange;
}
#masButton:pressed,#menosButton:pressed,#multButton:pressed,#divButton:pressed {
	-fx-text-fill:orange;
	-fx-background-color:white;
}
.button:hover:default{
	-fx-background-color:red;
}

.button:default{
	-fx-background-color:orangered;
}